@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*,
::after,
::before {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  max-width: 100%;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 1026px) {
  .header-mobile {
    display: block;
    padding: 0px 16px;
    margin-top: 20px;
    position: fixed;
    width: 100%;
    z-index: 3;
  }

  .header-desktop {
    display: none;
  }
}


@media screen and (min-width: 1026px) and (max-width: 1278px) {
  .header-left-side {
    width: 600px;
    padding: 4px 4.5px 4px 13px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1279px) and (max-width: 1439px) {
  .btn-signUp {
    font-size: 16px;
    padding: 17px 18px 17px 19px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1279px) and (max-width: 1439px) {
  .btn-logIn {
    font-size: 16px;
    padding: 17px 18px 17px 19px;
  }
}

@media screen and (min-width: 1279px) and (max-width: 1439px) {
  .hiring-chip {
    font-size: 9px !important;
    padding: 3px !important;
    margin-left: 7px !important;
  }
}